body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c4cec0;
  color: #333;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  width: 100vw;
  padding-left: 0px;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  color: #444;
}
/* Nav1: Horizontal with underline effect */

.nav1 {
  background-color: #dae7df;
  padding: 10px;
}

.nav1 ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
}

.nav1 ul li {
  margin-right: 20px;
}


.nav1 a {
  display: inline-block;
  text-decoration: none;
  background-color: #95cc85;
  color: #245e3a;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all .2s ease;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav1 a::after {
  content: '';
  position: absolute;  bottom: 4px;;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: #ffcb9a;
  transition: all .3s ease;
  transform: scaleX(0);
}
.nav1 a:hover {
  background-color: #7abf6f;
  transform: scale(1.1);
  color: #fff;
}
.nav1 a:hover::after {
  transform: scaleX(1);
}

.nav1 .login-button {
  display: inline-block;
  background-color: #ffcb9a;
  color: #245e3a;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  box-shadow: (0 2px 4px rgba(0, 0, 0, 0.1));
  transition: all .2s ease;
}
.nav1 .login-button::after {
  content: '';
  position: absolute;
  bottom: 4px;;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: #95cc85;
  transition: all .3s ease;
  transform: scaleX(0);
}
.nav1 .login-button:hover {
  background-color: #e09752;
  transform: scale(1.1);
  color: #1f4a2b;
  font-weight: bold;
}
.nav1 .login-button:hover::after {
  transform: scaleX(1);
}

/* Nav2: Vertical with hover effect */

.nav2 {
  background-color: #dae7df;
  padding: 10px;
  width: 90px;
  border-radius: 0 8px 8px 0;
}

.nav2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav2 li {
  margin-bottom: 10px;
}

.nav2 a {
  display: block;
  text-decoration: none;
  color: #245e3a;
  padding: 8px 0px 8px 16px;
  margin: 5px;
  border-radius: 5px;
  width: 90px;
  background: linear-gradient(to left, #95cc85 50%, #ffcb9a 50%);
  background-size: 180% 100%;
  background-position:right bottom;
  transition:all .2s ease;
}

.nav2 a:hover {
  background-position:left bottom;
  font-weight: bold;
}

.nav2 .login-button {
  display: block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  color: #245e3a;
  padding: 8px 0px 8px 16px;
  margin: 5px;
  border-radius: 5px;
  width: 106px;
  background: linear-gradient(to right, #95cc85 50%, #ffcb9a 50%);
  background-size: 182% 98%;
  background-position:right bottom;
  transition:all .2s ease;
}

.nav2 .login-button:hover {
  background-position:left bottom;
  font-weight: bold;
}

/* Nav3: Horizontal with dropdown menu */

.nav3 {
  background-color: #dae7df;
  padding: 10px;
  height: 48px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  width: 100%;
}

.nav3 ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  width: 40vw;
  align-items: center;
}

.nav3 a {
  text-decoration: none;
  justify-content: center;
  color: #245e3a;
  background-color: #95cc85;
  padding: 5px 10px;
  border-radius: 5px;
  height: 32px;
  width: 56px;
  line-height: 32px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  transition: all .2s ease;
  position: relative;
  z-index: 2;
}

.nav3 .dropdown-content {
  position: absolute;
  top: 108%;
  left: 0;
  width: 112px;
  background-color: #dae7df;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  opacity: 0;
  transform: translateY(10px);
  border-radius: 5px;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 2;
}

.nav3 .dropdown {
  position: relative;
  overflow: visible;
}

.dropdown-content a {
  border-radius: 0;
  width: 84px;
  justify-content: left;
  padding-left: 15px;
}

.dropdown-content a:hover {
  border-radius: 5px;
}

.dropdown-content a::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  border-radius: 2px;
  transform: translateY(-50%);
  height: 20px;
  width: 6px;
  background-color: #ffcb9a;
  transition: all .1s ease;
}

.nav3 a:hover {
  background-color: #95cc85;
  color: #fff;
  transform: scale(1.1);
}

.nav3 .dropdown:hover .dropdown-content {
  width: 112px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-content a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-content a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav3 .login-button {
  display: inline-block;
  background-color: #ffcb9a;
  color: #245e3a;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  box-shadow: (0 2px 4px rgba(0, 0, 0, 0.1));
  transition: all .2s ease;
}

.nav3 .login-button:hover {
  background-color: #e09752;
  transform: scale(1.1);
  color: #1f4a2b;
}
